@import "tailwindcss";

@font-face {
  font-family: "Acorn";
  src: url("/fonts/acorn-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@theme {
  --font-acorn: "Acorn", "sans-serif";
  --color-sarcele-800: #0b5145;
  --color-sarcele-500: #16a78e;
  --color-sarcele-300: rgb(153, 255, 230);
}

.animation-text {
  font-size: clamp(3rem, 0.5692rem + 5.2vw, 8rem);
}
